<div class="row">
  <div class="col-md-6">
    <h1><%= @user.display_name %></h1>
  </div>
  <div class="col-md-6">
    <%= image_tag @user.avatar.url, size: "250x250" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Bio:</h3>
    <p><%= @user.bio %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Lessons:</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class='table'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>Availability</th>
        </tr>
      </thead>

      <tbody>
        <% if @user.posts.empty? %>
          No classes posted.
        <% else %>
          <% @user.posts.each do |post| %>
            <tr>
              <td><%= link_to(post.title, post_path(post)) %></td>
              <td><%= post.description %></td>
              <td><%= post.category %></td>
              <td><%= number_to_currency(post.price) %></td>
              <td><%= post.availability %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>