<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-mid-12">
    <h1>Lessons</h1>
  </div>
</div>


<div class="row">
  <div class="col-mid-12">
    <h5>Categories:</h5>
    <div class="btn-group" role="gorup">
      <%= link_to 'Clear', posts_path(), class: "btn btn-secondary" %>
      <% Post::CATEGORIES.each do |category| %>
        <% selected = params[:filter] == category ? 'active' : '' %>
        <%= link_to category, posts_path(filter: category), class: "btn btn-secondary #{selected}" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-mid-12">
    <table class='table'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Instructor</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>Availability</th>
        </tr>
      </thead>

      <tbody>
        <% if @posts.empty? %>
          <td>No lessons matching your criteria.</td>
        <% else %>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to(post.title, post_path(post)) %></td>
              <td><%= link_to(post.user.display_name, user_path(post.user)) %></td>
              <td><%= post.description %></td>
              <td><%= post.category %></td>
              <td><%= number_to_currency(post.price) %></td>
              <td><%= post.availability %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
