<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-mid-12">
    <h1>Lessons</h1>
  </div>
</div>


<div class="row">
  <div class="col-mid-12">
    <table class='table'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
          <th>Availability</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.category %></td>
            <td><%= post.description %></td>
            <td><%= number_to_currency(post.price) %></td>
            <td><%= post.availability %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
