<p id="notice"><%= notice %></p>
<%= link_to 'Back', posts_path %>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h2><%= @post.title%></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4><%= number_to_currency(@post.price) %></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%= @post.description%></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Availability: <%= @post.availability%></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= button_to 'Request a lesson', new_request_path(post_id: @post.id, user_id: @post.user.id), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="card" style="">
          <%= image_tag @post.user.avatar.url, size: "250x250 ", class: 'card-img-top' %>
          <div class="card-body">
            <h4 class="card-title">About the Instructor</h4>
            <p class="card-text"><%= @post.user.bio %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
